<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="remoteTests" parallel="tests" thread-count="3">

    <test name="firefox test 1">
        <parameter name="browser" value="firefox"/>
        <parameter name="url" value="http://192.168.56.1:4444/wd/hub"/>
        <classes>
            <class name="RemoteTests">
                <!--<methods>
                    <include name="getUrlTest"/>
                </methods>-->
            </class>
        </classes>
    </test>

    <test name="chrome test">
        <parameter name="browser" value="chrome"/>
        <parameter name="url" value="http://192.168.56.1:4444/wd/hub"/>
        <classes>
            <class name="RemoteTests">
                <!--<methods>
                    <include name="getUrlTest"/>
                </methods>-->
            </class>
        </classes>
    </test>

    <test name="firefox test 2">
        <parameter name="browser" value="firefox"/>
        <parameter name="url" value="http://192.168.56.1:4444/wd/hub"/>
        <classes>
            <class name="RemoteTests">
                <!--<methods>
                    <include name="getUrlTest"/>
                </methods>-->
            </class>
        </classes>
    </test>

</suite>


