<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Google Cloud tests">

    <test name="Appropriateness of entering and estimated values">
        <groups>
            <run>
                <include name="Appropriateness of values"/>
            </run>
        </groups>
        <classes>
            <class name="Tests" />
        </classes>
    </test>

</suite>